@charset "UTF-8";

/* 
  Animation 微动画  
  基于ColorUI组建库的动画模块 by 文晓港 2019年3月26日19:52:28
 */


/* css 滤镜 控制黑白底色gif的 */

.gif-black {
    mix-blend-mode: screen;
}

.gif-white {
    mix-blend-mode: multiply;
}


/* Animation css */

[class*=animation-] {
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

.animation-fade {
    animation-name: fade;
    animation-duration: .8s;
    animation-timing-function: linear;
}

.animation-fade-away {
    animation-name: fade-away;
    animation-duration: .4s;
    animation-timing-function: linear;
    animation-delay: 1.5s;
}

.animation-scale-up {
    animation-name: scale-up;
}

.animation-scale-down {
    animation-name: scale-down;
}

.animation-slide-top {
    animation-name: slide-top;
}

.animation-slide-bottom {
    animation: 1s slide-bottom;
}

.animation-slide-bottom-word {
    animation-name: slide-bottom-word;
    animation-delay: .5s;
    animation-duration: .5s;
}

.animation-slide-left {
    animation-name: slide-left;
}

.animation-slide-right {
    animation-name: slide-right;
}

.animation-shake {
    animation-name: shake;
}

.animation-reverse {
    animation-direction: reverse;
}

.animation-show {
    animation-name: show;
}

.animation-up {
    animation-name: up;
    animation-duration: 2s;
}

.animation-round {
    animation-name: round;
    animation-duration: 2s;
}

.animation-roundin {
    animation-name: roundin;
    animation-duration: .5s;
    right: 0px;
}

@keyframes roundin {
    0% {
        transform: rotate(90deg);
        opacity: 0;
        right: 0px;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
        right: 20px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-away {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes scale-up {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale-down {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slide-top {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-bottom-word {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(-9px);
    }
    20% {
        transform: translateX(8px);
    }
    30% {
        transform: translateX(-7px);
    }
    40% {
        transform: translateX(6px);
    }
    50% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateX(4px);
    }
    70% {
        transform: translateX(-3px);
    }
    80% {
        transform: translateX(2px);
    }
    90% {
        transform: translateX(-1px);
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show {
    0% {
        transform: translateY(50px);
    }
    60% {
        transform: translateY(-40upx);
    }
    100% {
        transform: translateY(0px);
    }
}

@-webkit-keyframes show {
    0% {
        transform: translateY(50px);
    }
    60% {
        transform: translateY(-40upx);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes up {
    0% {
        box-shadow: 0px 0px 0px #000000;
    }
    100% {
        box-shadow: 5px 5px 15px #7c7c7c;
    }
}

@keyframes round {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* 底部导航样式 */


/* 主要颜色 */